In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
aug_csv = "data/citibike_tripdata_Aug19.csv"

p= 0.1

aug_data = pd.read_csv(aug_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
aug_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
1,632,2019-08-01 00:00:11.8060,2019-08-01 00:10:43.9590,173.0,Broadway & W 49 St,40.760683,-73.984527,3707.0,Lexington Ave & E 26 St,40.741459,-73.983293,21628,Subscriber,1998,1
2,270,2019-08-01 00:01:25.3430,2019-08-01 00:05:56.0840,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,3306.0,10 St & 7 Ave,40.666208,-73.981999,39058,Subscriber,1983,2
3,660,2019-08-01 00:01:35.5460,2019-08-01 00:12:36.2450,508.0,W 46 St & 11 Ave,40.763414,-73.996674,492.0,W 33 St & 7 Ave,40.750200,-73.990931,39142,Subscriber,1994,1
4,649,2019-08-01 00:01:53.0220,2019-08-01 00:12:42.8490,237.0,E 11 St & 2 Ave,40.730473,-73.986724,410.0,Suffolk St & Stanton St,40.720664,-73.985180,30236,Subscriber,1972,2

In [3]:
aug_data.count()

tripduration               234902
starttime                  234902
stoptime                   234902
start station id           234887
start station name         234887
start station latitude     234902
start station longitude    234902
end station id             234887
end station name           234887
end station latitude       234902
end station longitude      234902
bikeid                     234902
usertype                   234902
birth year                 234902
gender                     234902
dtype: int64

In [4]:
sept_csv = "data/citibike_tripdata_Sept19.csv"

p= 0.1

sept_data = pd.read_csv(sept_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
sept_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0
1,1252,2019-09-01 00:00:40.4400,2019-09-01 00:21:32.5350,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,14912,Customer,1989,1
2,1938,2019-09-01 00:01:22.8740,2019-09-01 00:33:41.1280,3295,Central Park W & W 96 St,40.791270,-73.964839,492,W 33 St & 7 Ave,40.750200,-73.990931,39763,Customer,1994,1
3,1469,2019-09-01 00:01:47.6000,2019-09-01 00:26:16.7350,302,Avenue D & E 3 St,40.720828,-73.977932,3711,E 13 St & Avenue A,40.729667,-73.980680,39003,Customer,1992,2
4,1869,2019-09-01 00:02:31.1230,2019-09-01 00:33:40.5120,3511,Adam Clayton Powell Blvd & W 115 St,40.802535,-73.953242,3511,Adam Clayton Powell Blvd & W 115 St,40.802535,-73.953242,19615,Customer,1969,0

In [5]:
oct_csv = "data/citibike_tripdata_Oct19.csv"

p= 0.1

oct_data = pd.read_csv(oct_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
oct_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,750,2019-10-01 00:00:37.9060,2019-10-01 00:13:08.4130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,21757,Subscriber,1995,1
1,101,2019-10-01 00:02:33.8140,2019-10-01 00:04:15.2410,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3095,Graham Ave & Herbert St,40.719293,-73.945004,39664,Subscriber,1980,1
2,301,2019-10-01 00:05:11.8970,2019-10-01 00:10:13.5250,237,E 11 St & 2 Ave,40.730473,-73.986724,3244,University Pl & E 8 St,40.731437,-73.994903,26054,Subscriber,1999,1
3,541,2019-10-01 00:05:27.9600,2019-10-01 00:14:29.4870,391,Clark St & Henry St,40.697601,-73.993446,3386,1 Pl & Clinton St,40.680959,-73.999057,26821,Subscriber,1988,1
4,322,2019-10-01 00:05:54.5100,2019-10-01 00:11:16.9870,3145,E 84 St & Park Ave,40.778627,-73.957721,3299,E 98 St & Park Ave,40.788130,-73.952060,40650,Subscriber,1996,1

In [6]:
nov_csv = "data/citibike_tripdata_Nov19.csv"

p= 0.1

nov_data = pd.read_csv(nov_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
nov_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,967,2019-11-01 00:00:06.2670,2019-11-01 00:16:14.0990,334,W 20 St & 7 Ave,40.742388,-73.997262,529,W 42 St & 8 Ave,40.757570,-73.990985,35155,Subscriber,1994,2
1,549,2019-11-01 00:00:56.7870,2019-11-01 00:10:06.2230,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3346,Berkeley Pl & 7 Ave,40.675147,-73.975232,32691,Subscriber,1986,1
2,959,2019-11-01 00:01:01.6120,2019-11-01 00:17:01.1330,540,Lexington Ave & E 29 St,40.743116,-73.982154,308,St James Pl & Oliver St,40.713079,-73.998512,38473,Subscriber,1987,1
3,245,2019-11-01 00:01:17.1500,2019-11-01 00:05:22.4910,3708,W 13 St & 5 Ave,40.735445,-73.994310,336,Sullivan St & Washington Sq,40.730477,-73.999061,34390,Subscriber,1994,1
4,450,2019-11-01 00:01:36.7740,2019-11-01 00:09:06.8660,2003,1 Ave & E 18 St,40.733812,-73.980544,265,Stanton St & Chrystie St,40.722293,-73.991475,18872,Subscriber,1989,1

In [7]:
dec_csv = "data/citibike_tripdata_Dec19.csv"

p= 0.1

dec_data = pd.read_csv(dec_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
dec_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
1,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1
2,482,2019-12-01 00:01:38.4440,2019-12-01 00:09:41.1480,458,11 Ave & W 27 St,40.751396,-74.005226,247,Perry St & Bleecker St,40.735354,-74.004831,32314,Subscriber,1994,1
3,701,2019-12-01 00:08:23.8420,2019-12-01 00:20:05.3510,471,Grand St & Havemeyer St,40.712868,-73.956981,373,Willoughby Ave & Walworth St,40.693317,-73.953820,40774,Subscriber,1957,1
4,191,2019-12-01 00:08:35.1060,2019-12-01 00:11:46.8390,3827,Halsey St & Broadway,40.685650,-73.915640,3832,Central Ave & Weirfield St,40.690550,-73.911810,41692,Subscriber,1979,1

In [8]:
july_csv = "data/citibike_tripdata_July19.csv"

p= 0.1

july_data = pd.read_csv(july_csv,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)
july_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,469,2019-07-01 00:00:25.0940,2019-07-01 00:08:14.2420,514.0,12 Ave & W 40 St,40.760875,-74.002777,458.0,11 Ave & W 27 St,40.751396,-74.005226,28266,Subscriber,1989,1
1,936,2019-07-01 00:01:09.8840,2019-07-01 00:16:46.7980,3674.0,Jay St & York St,40.701403,-73.986727,3795.0,10 St & 2 Ave,40.671907,-73.993612,31672,Subscriber,1965,1
2,549,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,40.722992,-73.979955,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,1
3,1281,2019-07-01 00:02:10.1820,2019-07-01 00:23:31.2660,377.0,6 Ave & Canal St,40.722438,-74.005664,368.0,Carmine St & 6 Ave,40.730386,-74.002150,35065,Customer,1988,1
4,378,2019-07-01 00:03:42.0980,2019-07-01 00:10:00.6700,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,25319,Subscriber,1996,2

In [9]:
july_data.to_csv("clean_data/July_data.csv")
aug_data.to_csv("clean_data/Aug_data.csv")
sept_data.to_csv("clean_data/Sept_data.csv")
oct_data.to_csv("clean_data/Oct_data.csv")
nov_data.to_csv("clean_data/Nov_data.csv")
dec_data.to_csv("clean_data/Dec_data.csv")

In [13]:
six_month_data = pd.concat([july_data, aug_data, sept_data, oct_data, nov_data, dec_data], axis=0, join='inner')

six_month_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,469,2019-07-01 00:00:25.0940,2019-07-01 00:08:14.2420,514.0,12 Ave & W 40 St,40.760875,-74.002777,458.0,11 Ave & W 27 St,40.751396,-74.005226,28266,Subscriber,1989,1
1,936,2019-07-01 00:01:09.8840,2019-07-01 00:16:46.7980,3674.0,Jay St & York St,40.701403,-73.986727,3795.0,10 St & 2 Ave,40.671907,-73.993612,31672,Subscriber,1965,1
2,549,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,40.722992,-73.979955,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,1
3,1281,2019-07-01 00:02:10.1820,2019-07-01 00:23:31.2660,377.0,6 Ave & Canal St,40.722438,-74.005664,368.0,Carmine St & 6 Ave,40.730386,-74.002150,35065,Customer,1988,1
4,378,2019-07-01 00:03:42.0980,2019-07-01 00:10:00.6700,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,25319,Subscriber,1996,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95154,178,2019-12-31 23:43:17.2910,2019-12-31 23:46:16.2370,291.0,Madison St & Montgomery St,40.713126,-73.984844,350.0,Clinton St & Grand St,40.715595,-73.987030,32947,Subscriber,1980,1
95155,302,2019-12-31 23:43:23.9480,2019-12-31 23:48:26.2880,3355.0,E 66 St & Madison Ave,40.768009,-73.968453,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,40229,Subscriber,1964,1
95156,690,2019-12-31 23:44:38.3250,2019-12-31 23:56:08.5330,311.0,Norfolk St & Broome St,40.717227,-73.988021,257.0,Lispenard St & Broadway,40.719392,-74.002472,35338,Subscriber,1974,1
95157,275,2019-12-31 23:47:56.2050,2019-12-31 23:52:31.8150,391.0,Clark St & Henry St,40.697601,-73.993446,2000.0,Front St & Washington St,40.702551,-73.989402,30292,Subscriber,1978,1
95158,749,2019-12-31 23:50:14.6420,2020-01-01 00:02:43.8120,3382.0,Carroll St & Smith St,40.680611,-73.994758,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,27412,Subscriber,2000,1

In [14]:
six_month_data.to_csv("clean_data/six_month_data.csv")